* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.849);
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.menu-container {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.beginner-btn:hover {
    cursor: pointer;
}

.medium-btn:hover {
    cursor: pointer;
}

.expert-btn:hover {
    cursor: pointer;
}

.special-btns {
    margin-top: 5px;
}

table,td {
    /* border: solid grey; */
    border-collapse: collapse;
}

table {
    border: 5px solid grey;
    margin: 0 auto;
}

td {
    height: 32px;
    width: 32px;
    text-align: center;
    background-color: rgb(170, 172, 174);
    transition: 0.25s;
    border-radius: 10%;
    border:solid grey;
}

td:hover {
    cursor: pointer;
}

.clicked {
    background-color: rgb(147, 148, 149);
}

.bomb {
    background-color: rgb(188, 18, 18);
}

.hide {
    display: none;
}

.end-of-game {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.reset-btn {
    border: none;
    background: none;
    font-size: x-large;

}

.reset-btn:hover {
    cursor: pointer;

}

footer {
    color: white;
    position: absolute;
    bottom: 0px;
    font-size: larger;
}